.readable-content {
  font-family: $serifFont, serif;
  font-size: $baseFontSize;
  color: #555;

  max-width: $max-width + 2;
  margin: auto;
  padding: 1em;

  &.no-margin {
    max-width: none;
    margin: 0;
  }

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;

  line-height: $line-height;
  letter-spacing: .003em;

  h1, h2, h3, h4, h5, h6 {
    font-family: $sansFont, sans-serif;
    font-weight: 700;
    color: #222;
  }

  h1 {
    font-size: $baseFontSize * 2;
  }

  h2 {
    font-size: $baseFontSize * 1.5;
  }

  h3 {
    font-size: $baseFontSize * 1.25;
  }

  h4 {
    font-size: $baseFontSize;
  }

  h5 {
    font-size: $baseFontSize;
  }

  h6 {
    font-size: $baseFontSize;
  }

  header {
    padding-bottom: $baseFontSize;
    margin-bottom: 1em;

    h1, h2 {
      margin: .5em 0;
    }

    &.center {
      text-align: center;
    }

    h2 {
      color: #777;
    }
  }

  p {
    line-height: $line-height;
    color: #555;
  }

  a {
    color: #555;
    text-decoration: underline;

    &:hover {
      color: #333;
    }
  }

  img {
    max-width: 120%;
    display: block;
    margin: $baseFontSize 0;
    margin-left: -10%;
  }

  * {
    margin: $baseFontSize/2 0;
  }
}

mark {
  color: #555;
  background-color: $marker-color;
}
