@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Catamaran:700');

$serifFont: 'Noto Serif';
$sansFont: 'Catamaran';

$baseFontSize: 1.3em !default;
$line-height: 1.58 !default;

$max-width: 32em !default;

$marker-color: rgba(82, 232, 165, 0.3) !default;
