
#content {
  font-family: $serifFont, serif;
  font-size: $baseFontSize;

  max-width: $max-width;
  margin: auto;

  line-height: 1.5; /* Should be proportional to $baseFontSize */

  h1, h2, h3, h4, h5, h6 {
    font-family: $sansFont, sans-serif;
    font-weight: 700;
  }

  h1 {
    font-size: $baseFontSize * 2;
  }

  h2 {
    font-size: $baseFontSize * 1.7;
  }

  h3 {
    font-size: $baseFontSize * 1.5;
  }

  h4 {
    font-size: $baseFontSize * 1.3;
  }

  h5 {
    font-size: $baseFontSize * 1.2;
  }

  h6 {
    font-size: $baseFontSize * 1.1;
  }
}
