
#content {
  font-family: $serifFont, serif;
  font-size: $baseFontSize;
  color: #555;

  max-width: $max-width + 2;
  margin: auto;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;

  padding: 0 1em;

  line-height: $line-height;
  letter-spacing: .003em;

  h1, h2, h3, h4, h5, h6 {
    font-family: $sansFont, sans-serif;
    font-weight: 700;
    color: #222;
  }

  h1 {
    font-size: $baseFontSize * 2;
  }

  h2 {
    font-size: $baseFontSize * 1.5;
  }

  h3 {
    font-size: $baseFontSize * 1.25;
  }

  h4 {
    font-size: $baseFontSize;
  }

  h5 {
    font-size: $baseFontSize;
  }

  h6 {
    font-size: $baseFontSize;
  }

  header {
    padding-bottom: $baseFontSize;
    margin: 1em 0;

    h1, h2 {
      margin: .5em 0;
    }

    &.center {
      text-align: center;
    }

    h2 {
      color: #777;
    }
  }

  p {
    line-height: $line-height;
    color: #555;
  }

  a {
    color: #555;

    &:hover {
      color: #333;
    }
  }

  mark {
    background-color: $marker-color;
    color: inherit;
  }

  img {
    max-width: 80%;
    display: block;
    margin: auto;
  }
}
