
#content {
  font-family: $serifFont, serif;
  font-size: $baseFontSize;

  max-width: $max-width;
  margin: auto;

  padding: 0 1em;

  line-height: $line-height;
  letter-spacing: .003em;

  h1, h2, h3, h4, h5, h6 {
    font-family: $sansFont, sans-serif;
    font-weight: 700;
  }

  h1 {
    font-size: $baseFontSize * 2;
  }

  h2 {
    font-size: $baseFontSize * 1.5;
  }

  h3 {
    font-size: $baseFontSize * 1.25;
  }

  h4 {
    font-size: $baseFontSize;
  }

  h5 {
    font-size: $baseFontSize;
  }

  h6 {
    font-size: $baseFontSize;
  }
  }
}
