@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Roboto+Condensed:700');

$serifFont: 'Noto Serif';
$sansFont: 'Roboto Condensed';

$baseFontSize: 1.3em;
$line-height: 1.58;


$max-width: 32em;

$marker-color: rgba(82, 232, 165, 0.3);
